# Git Ignore File
.model_cache/
__pycache__/
*.pt
!best.pt
*.pth
node_modules/
dist/
.env
.DS_Store
*.pyc
*.pyo
venv/
env/
.venv/
training_results/
runs/
pothole_yolo_workspace/

# Ignore all dataset files except a small sample (0-9)
images/*
!images/potholes[0-9].png
annotations/*
!annotations/potholes[0-9].xml
